/* Resetando as configurações padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Váriaveis */
:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

/* Menu de navegação da página */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;

    width: 15.625rem;
    height: 100vh;
    background-color: var(--green);
    color: var(--text-color);

    font-family: 'Poppins', sans-serif;
}

/* Cabeçalho do menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 14px;
}

header > button {
    background-color: transparent;
    border: none;
}

ul {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    gap: 2.125rem;
    width: 100%;

    padding: 0 14px;
} 

/* Estilizando itens da lista */
li {
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 14px;
}

li:nth-child(1) {
    width: 100%;
    background-color: var(--light-green);
    border-radius: 12px;

    padding: 14px 14px;
}


/* Editando links */
a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    text-decoration: none;
    color: var(--text-color);
}

/* Editando login do usuário */
footer {
    background-color: var(--light-green);

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 14px;
    
    width: 100%;
    height: 60px;
}

/* Editando informações do usuário */
.user {
    display: flex;
    gap: 10px;
}

.user__name {
    font-weight: 400;
    font-size: 15px;
}

.user__office {
    font-size: 12px;
}

/* Foto de perfil do usuário */
.avatar {
    width: 45px;
    height: 45px;
    background-image: url('../img/photo.jpg');
    background-size: cover;

    border-radius: 12px;
}