/* Resetando as configurações padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu de navegação da página */
nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;

    width: 15.625rem;
    height: 100vh;
    background-color: aqua;
}

/* Cabeçalho do menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 14px;
}

header > button {
    background-color: transparent;
    border: none;
}

ul {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    gap: 2.125rem;
    width: 100%;

    padding: 0 14px;
} 

/* Estilizando itens da lista */
li {
    list-style: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

/* Editando links */
a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    text-decoration: none;
    color: black;
}


/* Editando login do usuário */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 14px;
    
    width: 100%;
    height: 60px;
}

/* Editando informações do usuário */
.user {
    display: flex;
    gap: 6px;
}

/* Foto de perfil do usuário */
.avatar {
    width: 45px;
    height: 45px;
    background-image: url('../img/photo.jpg');
    background-size: cover;
}